<?xml version="1.0" encoding="UTF-8"?>
<menu>
   <food category = "Appetizers">
      <name>chilli meatballs </name>
      <description>Spicy Meatballs in Chilli Sauce.</description>
      <price>£6.50</price>
</food>
   <food category = "Appetizers">
      <name>Apple Sliders</name>
      <description>Apple and Bruschetta Sliders.</description>
      <price>£5.50</price>
   </food>
   <food category = "Entrees">
      <name>Roasted Pork with Veg</name>
      <description>Roasted pork with baby potatoes and salad.</description>
      <price>£12.50</price>
   </food>
   <food category = "Entrees">
      <name>Oven-cooked Salmon</name>
      <description>Oven-cooked Salmon and white sauce.</description>
      <price>£9.50</price>
   </food>
   <food category = "Desserts">
       <name>Sticky Toffee Pudding with vanilla icecream</name>
       <description>Warm Sponge drizzled with toffee sauce</description>
       <price>£5.50</price>
   </food>
   <food category = "Desserts">
       <name>Apple Crumble with toffee icecream</name>
       <description>Apple Crumble base with smooth toffee icecream</description>
       <price>£6.50</price>
   </food>
   <food category = "Specials">
        <name>Kangaroo burger with some Marmite Sauce</name>
        <description>Australia's Finest fresh from the Barbie!</description>
        <price>£10.50</price>
   </food>
    <food category = "Specials">
        <name>Blue lagoon Delight</name>
        <description>Blue lagoon Icecream to cool down in the summer sun </description>
        <price>£4.50</price>
   </food>
</menu>